body {
    font-family: roboto;
    background-color:#455a64;
}

*{padding:0;
    margin:0;
    font-family: Roboto;
}

.title{
    position: relative;
    text-align: center;
    font-size: 70pt;
    top: 40%;
    color: white;
    font-style: thin;
    padding-left: 10px;
    padding-top: 1px;
    font-weight: bold;
    text-shadow: 2px 2px #263238;

}

.Header{
    width: 100%;
    height: 60vh;
    text-align: center;
    background-image: url("insurance_img.jpg");
    background-size: cover;
    object-fit: contain;
    background-attachment: fixed;
    
}

.Variable{
    position: relative;
    margin:auto;
    width: 35%;
    padding: 40px;
}

.sex-radio{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.birth-text{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.weight-text{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.height-text{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.children-number-dropdown{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.smoker-dropdown{
    position: relative;
    margin:auto;
    padding: 20px 20px 20px;
}

.bigbox{
    position: relative;
    margin: auto;
    width: 50%;
    height: 70hv;
    background-color: #eceff1;
    color: darkslategrey;
    top: 50px;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 20px 20px 20px;
}

Label{
    margin: 5px;
}
.cost-box{
    position: relative;
    margin:auto;
    height: 70px;
    width: 60%;
    top: 70px;
    padding: 20px, 20px, 20px;
}
.cost{
    position: relative;
    text-align: center;
    font-size: 40pt;
    margin:auto;
    color: white;
}
.graph-intro-title{
    position: relative;
    margin: auto;
    color: #fb8c00 ;
    text-align: center;
    top: 80px;
    font-size: 30pt;
    padding: 20px 20px 20px;
}
.graph-intro-text{
    position: relative;
    margin: auto;
    color: white;
    text-align: center;
    top: 60px;
    font-size: 18pt;
    padding: 20px 20px 20px;
}
.drop-graphs{
    position: relative;
    margin: auto;
    width: 35%;
    top: 30px;
    padding: 20px 20px 20px;
}
.graphs{
    position: absolute;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 1380px;
    left: 33%;
    
}

.heatmap-title{
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 22pt;
    top: 600px;
    color: white;
}

.heatmap-box{
    position: absolute;
    margin: auto;
    background-image: white;
}

.heatmap {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: 630px;
    width: 50%;
    height: 50vh;
}

.table-title{
    position: relative;
    text-align: center;
    margin: auto;
    font-size: 22pt;
    top: 660px;
    color: white;
}

.table-box{
    position: relative;
    margin: auto;
    width: 60%;
    box-sizing: border-box;
    top: 700px;
}

.Footer {
    position: relative;
    top: 750px;
    height: 15vh;
    display: block;
    box-sizing:border-box;
    background-color: #eceff1;
}